.profile__add-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 17px 134px;
  display: block;
  margin: 0 auto;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .profile__add-button {
    margin: 0;
    padding: 14px 64px;
    max-height: 50px;
  }
}
